<section class="game-wrapper" [ngSwitch]="status">
  <button
    mat-fab
    color="accent"
    (click)="initGame()"
    *ngSwitchCase="statuses.READY"
  >
    Начать
  </button>
  <ng-container *ngSwitchCase="statuses.PLAYING">
    <gh-alias-card
      [card]="selectedCard"
      (cardGuessed)="guessCard($event)"
    ></gh-alias-card>
  </ng-container>
  <ng-container *ngSwitchCase="statuses.FINISHED">
    <section class="results">
      <h1 class="results__title">Игра Закончена</h1>
      <gh-alias-results [dataSource]="cards"></gh-alias-results>
    </section>
  </ng-container>
</section>
